<div class="event-section">
    <div class="profile-nav">
        <ul>
            <li><a class="{{ app.request.get('_route') == 'member-profile' ? 'selected' }}" href="#">mitgliedsprofil</a></li>
            <li><a class="{{ app.request.get('_route') == 'my-to-dos' ? 'selected' }}" href="#">meine aufgaben</a></li>
            <li><a class="{{ app.request.get('_route') == 'member-status' ? 'selected' }}" href="#">mein mitgliedsstatus</a></li>
            <li><a class="{{ app.request.get('_route') == 'buddy-program' ? 'selected' }}" href="#">the-work-budy-programm</a></li>
            <li><a class="{{ app.request.get('_route') == '141-program' ? 'selected' }}" href="#">partner-übungsprogramm</a></li>
            <li><a class="{{ app.request.get('_route') == 'event-overview' ? 'selected' }}" href="#">meine veranstaltungen</a> <span>4</span></li>
            <li><a class="{{ app.request.get('_route') == 'publications-overview' ? 'selected' }}" href="#">meine publikationen</a> <span>1</span></li>
            <li><a class="{{ app.request.get('_route') == 'my-stories' ? 'selected' }}" href="#">meine storys</a> <span>2</span></li>
            <li><a href="#">bestellungen</a></li>
            {% 
                set routes = [
                "downloads",
                "download-protocolle",
                "download-documents",
                "download-verband"
                ]
            %}
            {% set opened = false %}
            {% for route in routes if not opened %}
                    {% if app.request.get('_route') == route %}
                        {% set opened = true %}
                    {% endif %}
            {% endfor %}  
                <li class="dropdown {{ opened == true ? 'open' }}">  
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">downloads</span></a>
                <ul class="dropdown-menu">
                    <li><a class="{{ app.request.get('_route') == 'downloads' ? 'selected' }}" href="#">siegel</a></li>
                    <li><a class="{{ app.request.get('_route') == 'download-protocolle' ? 'selected' }}" href="#">protocolle</a></li>
                    <li><a class="{{ app.request.get('_route') == 'download-documents' ? 'selected' }}" href="#">übungsunterlagen</a></li>
                    <li><a class="{{ app.request.get('_route') == 'download-verband' ? 'selected' }}" href="#">verband</a></li>
                </ul>
            </li>
            <li><a class="{{ app.request.get('_route') == 'main' ? 'selected' }}" href="#">mein vtw-cockpit</a></li>
        </ul>
    </div>
</div>